.form {
   
    display: flex;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    margin: 10rem;
    /* padding-left: 2rem;
    padding-right:2rem;
    padding-bottom: 2rem; */
    padding :2rem;
    width: 400px;
    height: 100%;
    gap:10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.form input{
    size:15px;
    font-size: 14px; /* Increases the text size */
    border-radius: 5px; /* Rounds the corners of the input fields */
    border: 1px solid #ccc; /* Adds a subtle border */
    outline: none; /* Removes the blue outline when the input is focused */
    box-sizing: border-box; /* Ensures padding doesn't affect the overall width */
    padding: 6px 10px;

}
.form input:focus {
    /* border-color: #007BFF; Adds a highlight color on focus */
    background-color: #E8F0FE;
    
}
.form p{
    font-size: 15px;
    font-weight:700;
    
}
.form span{
    font-size: 12px;
    font-weight:100;
    
}


.form .form_element {
    display: flex;
    gap: 5px;
    margin: 0.5rem 0;
    width: 100%; /* Ensure the row takes up the full width */
    box-sizing: border-box;
}

.form .form_element input {
    flex: 1; /* Ensure both inputs share the available space equally */
    width: 0; /* Prevent flex width conflicts */
}

.form .form_button{
    padding: 6px 10px;
    background-color: #0B5ED7;
    border-radius: 5px;
    
}
.form .form_button:hover{
    background-color:#234c8b;

}
.form a{
    justify-items: center;
    color: var(--primary-color);
    text-decoration: none;
}
.form a:hover{
    
   
    text-decoration:underline;
}

}
.login_form{
    display: flex;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    margin: 10rem;
    padding-left: 2rem;
    padding-right:2rem;
    padding-bottom: 2rem;
    width: 400px;
    height: 100%;
    gap:10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.login_form button{
    background-color: var(--primary-color);
}
.login_form button:hover{
    background-color:#0c2242;
}